:root {
    --color-lightPink: #FFD1DC;
    --color-lightTeal: #D1FFF2;
    --color-lightBaige: #F5F5DC;
    --color-lightSkyBlue: #AEC6CF;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-primary: var(--color-lightPink);
    --color-primary-variant: var(--color-lightTeal);
    --color-accent: var(--color-lightBaige);
    --color-accent-variant: var(--color-lightSkyBlue);
}

/* common */

*{
    box-sizing: border-box;
  }

  body{
    font-family: 'Playfair Display', sans-serif;
    margin: 0; 
    background-color: var(--color-accent-variant);
    overflow: hidden;
  }

  a {
    text-decoration: none;
  }

  ul,p,h1,h2,h3{
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  button{
    background-color: transparent;
    outline: 0;
    border: 0;
  }

  .max-container{
    max-width: 1300px;
    margin: auto; 
  }

  html {
    scroll-behavior: smooth;
  }

  /* login form */
  .login__container{
    margin: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid var(--color-primary-variant);
    box-shadow: 0 20px 50px var(--color-primary);
    background-color: var(--color-accent);
  }

  .login__title{
    padding: 30px;
    font-size: 2rem;
  }
  .univ__container, .email__container, .prove__container {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
}

.univ__input, .email__input, .prove__input {
    width: 300px; 
    height: 40px; 
    margin: 0; 
    border: 1px solid var(--color-accent-variant);
    border-radius: 5px 0 0 5px; 
    cursor: text;
}

.univ__checkButton, .email__checkButton, .prove__checkButton {
    height: 40px; 
    width: 50px; 
    background-color: var(--color-primary);
    border: 1px solid var(--color-accent-variant);
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
}

.check__container{
    display: flex;
    align-items: center;
    grid-gap: 5px;
    margin-bottom: 20px;
}

.check-icon{
    font-size: 20px;
    color: red;
}

.check__desc{
    font-size: 1rem;
}

.login__detail{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.login__detail img{
    width: 100px;
    height: 100px;
}

.login__detail p{
    font-weight: bold;
    font-style: italic;
}
